$primary-color: #FFFFFF;
$primary-dark-color: #C9C9C9;
$accent-color: #144747;
$primary-text-color: #404040;
$secondary-text-color: #CCCCCC;
$primary-dark-text-color: #000000;
$secondary-dark-text-color: #666666;
$body-bg-color: #F2F2F2;