@mixin filterBtn($color, $bg) {
    padding: 1em 0;
    color: $color;
    background: $bg;
    border: none;
    border-radius: 0;
    cursor: pointer;
    outline: none;
    transition: all .2s ease-out;
}

@mixin filterBtnFont($font, $weight, $trans) {
    font-size: $font;
    font-weight: $weight;
    text-transform: $trans;
}



@mixin closeBtnPseudoEl($margin, $w, $h, $top, $left) {
  content: '';
  position: absolute;
  margin-left: $margin;
  width: $w;
  height: $h;
  top: $top;
  left: $left;
  background: var(--close-btn-color);
}

@mixin bgImage($bg, $size, $pos) {
    background: $bg;
    background-size: $size;
    background-position: $pos;
    background-repeat: no-repeat;
}


@mixin textBackground($z, $top, $left) {
    z-index: $z;
    top: $top;
    left: $left;
}


/*------------------Typography----------------*/
@mixin projectTitle($s, $w, $letsp, $lh, $tr) {
    font-size: $s;
    font-weight: $w;
    letter-spacing: $letsp;
    line-height: $lh;
    text-transform: $tr;
}


@mixin size($size) {
  width: $size;
  height: $size;
}



@mixin breakpoint($class) {

  @if $class == xs {
    @media (max-width: 767px) {
      @content;
    }
  }

  @else if $class == sm {
    @media (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  }

  @else if $class == s {
    @media (max-width: 991px) {
      @content;
    }
  }


  @else if $class == md {
    @media (min-width: 992px) {
      @content;
    }
  }

  @else if $class == m {
    @media (max-width: 1024px) {
      @content;
    }
  }

  @else if $class == l {
    @media (min-width: 1025px) and (max-width: 1199px) {
      @content;
    }
  }

  @else if $class == lg {
    @media (min-width: 1200px) {
      @content;
    }
  }

  @else if $class == xl {
    @media (min-width: 1600px) {
      @content;
    }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}
