%container {
    display: block;
    max-width: 1300px;
    box-sizing: border-box;
    margin: 0 auto;
    @include breakpoint(lg) {
      width: 80%;
    }
}

%nav-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-end;
}

%link {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    box-sizing: border-box;
}




%row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
