// text


// font weights
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// base font
$base-font-family: sans-serif;
$base-font-weight: $regular;
$base-font-size: 13px;
$base-line-height: 1.4;
$base-letter-spacing: 0px;




body, html {
    font-family: 'Montserrat', sans-serif;
}

/*---LAYOUT TYPOGRAPHY-----*/
.container__caption {
    font-size: $base-font-size *3;
    text-transform: uppercase;
    @include breakpoint(xs) {
      font-size: 136%;
    }
}


/*---NAV TYPOGRAPHY-----*/
.primary-nav__link {
    font-size: $base-font-size * 0.9;
    font-weight: $medium;
    letter-spacing: $base-letter-spacing + .5;
}

.secondary-nav__link {
    font-size: $base-font-size * .8;
    font-weight: $light;
}


/*----MOBILE NAV TYPOGRAPHY------*/
.nav__btn {
  text-align: center;
  font-weight: $bold;
  text-transform: uppercase;
  letter-spacing: $base-letter-spacing + 1;
}


/*---BANNER QUOTE------*/
.slider__quote-text{
    font-size: $base-font-size * 4;
    font-weight: $bold;
    @include breakpoint(xs) {
        font-size: $base-font-size * 2;
    }
}

.slider__quote-author {
  text-align: right;
  font-size: $base-font-size * 1.2;
}



h1 {
    font-size: $base-font-size * 4;
    font-weight: $bold;
    color: $primary-dark-text-color;
}


.about__text {
    font-size: $base-font-size;
    font-weight: $light;
    line-height: $base-line-height * 1.2;
}





/*------------------PROJECTS TYPOGRAPHY-------------------------*/
.wrapper__text-bg {
    font-size: $base-font-size * 8;
    font-weight: $bold;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: bottomright;
}

.wrapper__text-bg--small {
    font-size: $base-font-size * 9;
}



.projects__title {
    letter-spacing: $base-letter-spacing + 1;
}


.projects__category {
    font-size: $base-font-size;
    font-weight: $extra-light;
    line-height: $base-line-height + .3;
    letter-spacing: $base-letter-spacing + 1;
    text-transform: uppercase;
}


.projects-filter__btn {
    @include filterBtnFont($base-font-size, $medium, uppercase);
}



.projects-filter__btn--active {
    font-weight: $bold;
}

.projects-filter__sub-btn {
    @include filterBtnFont($base-font-size, $regular, uppercase);
}


.projects-filter__btn,
.projects-filter__sub-btn {
  @include breakpoint(xs) {
    font-size: 70%;
  }
}



/*-----------------EDUCATION------------------------*/
.education__text-content {
    font-size: $base-font-size * 0.8;
    line-height: $base-line-height * 1.1;
    @include breakpoint(s) {
      font-size: 60%;
    }
}


.education__block-title {
    font-weight: $medium;
}

.education__text {
    font-weight: $light;
}

.education__number {
    font-weight: $bold;
}






/*--------------------OFFER-----------------------*/
.offer__article {
    font-size: $base-font-size;
    font-weight: $light;
    line-height: $base-line-height * 1.5;
}


.offer__item-title {
    font-size: 65%;
    text-transform: uppercase;
    letter-spacing: $base-letter-spacing + 1;
    @include breakpoint(xs) {
      font-size: 45%;
    }
    @include breakpoint(s) {
      font-size: 60%;
    }
}



.offer__description {
    @extend .offer__article;
}



/*--------------------CONTACT-----------------------*/
.contact__title {
    font-size: $base-font-size;
    font-weight: $medium;
}


.contact__block {
    font-size: $base-font-size * 1.1;
    font-weight: $light;
}

.contact__block-title {
    font-size: $base-font-size;
    font-weight: $medium;
    line-height: $base-line-height * 1.7;
    text-transform: uppercase;
}



/*--------------------FOOTER-----------------------*/
.footer__copyright {
    font-size: $base-font-size;
    font-weight: $extra-light;
}


/*----------------SHADOW BLOCKS--------------------------------*/
.project__description-text {
    font-size: $base-font-size;
    font-weight: $light;
    line-height: $base-line-height * 1.3;
}

.project__title {
    @include projectTitle($base-font-size * 2.2, $bold, $base-letter-spacing + 1, $base-line-height, uppercase);
}

.project__subtitle {
    @include projectTitle($base-font-size * 1.6, $medium, $base-letter-spacing, $base-line-height * 1.1, none);
}

.project__third-title {
    @include projectTitle($base-font-size * 1.1, $regular, $base-letter-spacing, $base-line-height * 1.1, none);
}



.project__number{
    font-size: $base-font-size;
    font-weight: $bold;
}

.project__data {
    @include projectTitle($base-font-size, $medium, $base-letter-spacing,
    $base-line-height * 2.1, none);
}




/*---mobile nav----*/
.nav-block--mob__item {
  font-size: $base-font-size * 1.2;
  text-transform: uppercase;
  letter-spacing: 4px;
}




/*-----SINGLE PROJECT-------*/
.back-btn {
  font-size: $base-font-size * 1.3;
    letter-spacing: $base-letter-spacing + 2;
}