/*---------SIZES---------------*/
$banner-img-height: 600px;


/*---------URLS---------------*/
$logo-img: url(../img/logo.png);
$sliderImg1: url(../img/bg1.jpg);
$sliderImg2: url(../img/bg2.jpg);
$sliderImg3: url(../img/bg3.jpg);

$about-graphics: url(../img/about.png);

$projectsBg: url(../img/lanscapeBg.png);



$projectsImg: url(../img/projTree.png);

$offerBg: url(../img/oferta.png);


$treesIcon: url(../img/trees_icon.png);
$planIcon: url(../img/home_icon.png);
$eduIcon: url(../img/edu_icon.png);


$offerIcons:  url(../img/offer-1.png), url(../img/offer-2.png), url(../img/offer-3.png);

$footerLogo: url(../img/logo-footer.png);
