body {
  position: relative;
  height: 100%;
}

hr {
    display: block;
    width: 15%;
    max-width: 50px;
    height: 0.2em;
    border: none;
    margin: 1em 0;
    background-color: $accent-color;
}
