.shadow-block {
  @include breakpoint(lg) {
    display: block;
  }
}

.container {
  @include breakpoint(xs){
      padding: 70px 7%;
  }
}

.container--xs {
  @include breakpoint(xs){
      padding: 70px 0;
  }
}


.images-wrapper {
  @include breakpoint(xs){
      margin: 1em 0 0;
  }
}

.images-wrapper__item {
  @include breakpoint(xs){
    width: 100%;
    margin: 0;
  }
  @include breakpoint(sm) {
    
  }
}

.images-wrapper__description {
  @include breakpoint(xs){
    top: 0;
    opacity: 1;
  }
}


.images-wrapper__item:hover{
  .images-wrapper__description {
    @include breakpoint(xs){
      transform: none;
    }
  }
}

.images-wrapper__item-shadow {
  @include breakpoint(xs){
    opacity: 0.3;
  }
}

h1 {
  @include breakpoint(xs){
    margin: 0 3%;
  }
}

.education-text-content {
  @include breakpoint(m){
    width: 100%;
  }
}

.education-text-wrapper {
  @include breakpoint(xs){
    padding: 0 5%;
  }
}




.offer__options {
  // @include breakpoint(xs) {
  //   margin: 5em 0 0;
  // }
}

.offer__item {
  // @include breakpoint(xs) {
  //   min-width: 33%;
  //   height: 144px;
  //   border-radius: 0;
  //   justify-content: center;
  // }
}

.offer__item--active::before,
.offer__item--active::after {
  // @include breakpoint(xs) {
  //   display: none;
  // }
}

.contact__block {
  // @include breakpoint(xs) {
  //   width: 50%;
  // }
}


.footer__container {
  // @include breakpoint(xs) {
  //   padding: 0;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: flex-start;
  //   margin-left: 6%;
  // }
}



//Single projectTitle.project__description {
.project__description {
  @include breakpoint(xs) {
    width: 100%;
  }
}

.project {
  @include breakpoint(xs) {
    flex-direction: column;
  }
}



// .images-wrapper__item--small {
//   @include breakpoint(xs){
//     width: 40%;
//   }
// }
