<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{../login/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{../login/css/styles.css}" rel="stylesheet">

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-bg">
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Logo -->
                <div class="logo">
                    <h1><a>Portfolio Admin Panel</a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form action="#" th:action="@{/admin/projectForm}" th:object="${projectObject}" method="post">

                <div class="form-group">
                    <label for="desc1">Typ projektu:</label>
                    <div class="radio">
                        <label><input th:field="*{type}" type="radio" th:value="0" name="big">Projekty Terenów
                            Zieleni</label>
                    </div>
                    <div class="radio">
                        <label><input th:field="*{type}" type="radio" th:value="1" name="big">Planowanie
                            Krajobrazu</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="desc1">Kategoria</label>
                    <div class="radio">
                        <label><input th:field="*{category}" type="radio" th:value="0" name="big">Prywatne</label>
                    </div>
                    <div class="radio">
                        <label><input th:field="*{category}" type="radio" th:value="1" name="big">Komercyjne</label>
                    </div>
                    <div class="radio">
                        <label><input th:field="*{category}" type="radio" th:value="2" name="big">Publiczne</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="desc1">Wielkość projektu</label>
                    <div class="radio">
                        <label><input th:field="*{subcategory}" type="radio" th:value="0" name="big">Małe</label>
                    </div>
                    <div class="radio">
                        <label><input th:field="*{subcategory}" type="radio" th:value="1" name="big">Średnie</label>
                    </div>
                    <div class="radio">
                        <label><input th:field="*{subcategory}" type="radio" th:value="2" name="big">Duże</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name">Nazwa projektu:</label>
                    <input type="text" th:field="*{name}" class="form-control" id="name">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">To pole nie może być puste!</span>
                </div>

                <div class="form-group">
                    <label for="date">Data:</label>
                    <input type="date" th:field="*{date}" class="form-control" id="date">
                    <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}">To pole nie może być puste!</span>
                </div>

                <div class="form-group">
                    <label for="title">Tytuł:</label>
                    <input type="text" th:field="*{title}" class="form-control" id="title">
                    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">To pole nie może być puste!</span>
                </div>

                <div class="form-group">
                    <label for="subtitle">Podtytuł:</label>
                    <input type="text" th:field="*{subtitle}" class="form-control" id="subtitle">
                    <span th:if="${#fields.hasErrors('subtitle')}"
                          th:errors="*{subtitle}">To pole nie może być puste!</span>
                </div>

                <div class="form-group">
                    <label for="desc">Opis - skrócony:</label>
                    <textarea class="form-control" th:field="*{description}" rows="5" id="desc"></textarea>
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">To pole nie może być puste!</span>
                </div>

                <div class="form-group">
                    <label for="desc1">Opis:</label>
                    <textarea class="form-control" th:field="*{description1}" rows="5" id="desc1"></textarea>
                    <span th:if="${#fields.hasErrors('description1')}" th:errors="*{description1}">To pole nie może być puste!</span>
                </div>

                <div class="form-group">
                    <label for="desc1">Wybierz wielkość miniatury projektu</label>
                    <div class="radio">
                        <label><input th:field="*{itemsize}" type="radio" th:value="0" name="big">Prostokąt</label>
                    </div>
                    <div class="radio">
                        <label><input th:field="*{itemsize}" type="radio" th:value="1" name="big">kwadrat</label>
                    </div>
                </div>
                <div class="form-group">
                    <a><input class="btn btn-primary signup" type="submit" href="/admin/projectForm/fileupload" value="Dalej"/></a>
                </div>
            </form>

            <!--<div class="form-group">-->
            <!--<a class="btn btn-primary signup" href="/fileupload">Dodaj zdjęcia</a>-->
            <!--</div>-->

            <div class="form-group">
                <a class="btn btn-primary signup" href="#">
                    <!--href="/fileupload"-->
                    Dodaj obraz slidera
                </a>
            </div>

            <script src="https://code.jquery.com/jquery.js"></script>
            <script th:src="@{login/bootstrap/js/bootstrap.min.js}"></script>
            <script th:src="@{login/js/custom.js}"></script>
        </div>
    </div>
</div>
</body>
</html>