<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{../login/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{../login/css/styles.css}" rel="stylesheet">

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-bg">
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logo">
                    <h1><a>Portfolio Admin Panel</a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <a class="btn btn-primary signup" href="/admin/projectForm">DODAJ NOWY PROJEKT</a>
            </div>
            <div class="form-group">
                <a class="btn btn-primary signup" href="/admin/projectForm">DODAJ OBRAZ SLIDERA</a>
            </div>

            <script src="https://code.jquery.com/jquery.js"></script>
            <script th:src="@{login/bootstrap/js/bootstrap.min.js}"></script>
            <script th:src="@{login/js/custom.js}"></script>
        </div>
    </div>
</div>
</body>
</html>