<!DOCTYPE html>
<html lang="pl" xmlns:th="http://thymeleaf.org">
<head>
    <title>Hałucha studio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#1c8a00">
    <meta name="apple-mobile-web-app-title" content="Halucha Studio">
    <meta name="application-name" content="Halucha Studio">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="theme-color" content="#ffffff">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<section class="wrapper projects--single">
    <img src="/img/transp-logo.png" alt="projekty_logo" class="container__img container__img--single">
        <a href="/">
            <span class="back-btn">
                <i class="fa fa-angle-left back-btn__arrow " aria-hidden="true"></i>
                <p class="back-btn__text">Wroć</p>
            </span>
        </a>
    <span class="wrapper__text-bg wrapper__text-bg--fixed wrapper__text-bg--small wrapper__text-bg--single">Projekty</span>
        <section class="container project">
            <th:block>
                <section th:id="${project.id}" class="project__description project__description--fixed">
                    <h1 th:utext="${project.name}" class="project__title">Nazwa projektu</h1>
                    <span th:if="${project.id}<9" th:text="'0'+${project.id}+'.'" class="project__number">129.</span>
                    <span th:unless="${project.id}<9" th:text="${project.id}+'.'" class="project__number">129.</span>

                     <!--<span th:text="${#dates.format(project.date, 'dd / MM / yyyy')}" class="project__data">02/04/2017</span>-->
                    <span th:if="${project.category}==0 AND ${project.subcategory == 0}" class="project__subtitle">PRYWATNE małe</span>
                    <span th:if="${project.category}==0 AND ${project.subcategory == 1}" class="project__subtitle">PRYWATNE średnie</span>
                    <span th:if="${project.category}==0 AND ${project.subcategory == 2}" class="project__subtitle">PRYWATNE duże</span>


                <h2 th:utext="${project.subtitle}" class="project__third-title">Title Lorem ipsum</h2>
                <hr>
                <h3 th:utext="${project.description}" class="project__third-title">Subtitle dolor sit amet</h3>
                <article th:utext="${project.description1}" class="project__description-text li">
                    <p>Pelt around the house and up and down stairs chasing phantoms attack feet, for annoy kitten
                        brother with poking purrrrrr thug cat for chase laser. Lick yarn hanging out of own butt hunt
                        anything that moves lies down .</p>
                    <br>
                    <p>Leave fur on owners clothes fall over dead (not really but gets sypathy) put toy mouse in food
                        bowl run out of litter box at full speed or shake treat bag, or sit in box sleep claws in your
                        leg. Pelt around the house and up and down stairs chasing phantoms jump off balcony, onto
                        stranger's head that box? i can fit in that box man running from cops stops to pet cats, goes to
                        jail or sit on human but chase after silly colored fish toys around the house for lie on your
                        belly and purr when you are asleep.</p>
                </article>
            </section>
        </th:block>

        <section class="project__grafics">
            <th:block th:each="img : ${imgs}" th:if="${project.id} == ${img.projectid}">
                <img th:src="${img.url}" alt="" class="project__img">
            </th:block>
            <section class="switch-block">
                <a th:if="${project.id - 1}!=0" th:href="'/project/' + ${project.id-1}" class="switch-block__btn">
                    <i class="fa fa-angle-left fa-lg" aria-hidden="true"></i>
                </a>
                <a th:href="'/project/' + ${project.id}" class="switch-block__btn__hide">
                    <i class="fa fa-angle-left-hide fa-lg" aria-hidden="true"></i>
                </a>

                <!--TODO: JAK SPRAWDZAĆ CZY JEST TO OSTATNI PROJEKT?-->
                <a th:if="${project.id}!=21" th:href="'/project/' + ${project.id + 1}" class="switch-block__btn">
                    <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                </a>
            </section>
        </section>
    </section>
</section>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>
