<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{../../../login/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{../../../login/css/styles.css}" rel="stylesheet">

    <!--TODO: Wpleść te style do: login/bootstrap/css/bootstrap.min.css lub odwrotnie. Zapytać Tośki jak będzie lepiej ;)-->
    <link rel="stylesheet" type="text/css" th:href="@{../../../css/main.css}">

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
</head>

<body class="login-bg">
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Logo -->
                <div class="logo">
                    <h1><a>Admin Panel</a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form action="#" th:action="@{/admin/projectForm/fileupload/**}" enctype="multipart/form-data"
                  method="post">

                <!-- TODO: Dodać możliwość dodawania okładki projektu kolejny parametr dla obrazka? -->

                <div class="form-group">
                    <label for="file">
                        <h2>WYBIERZ OBRAZY DLA PROJEKTU:</h2>
                    </label>
                    <div class="file">

                        <!--TODO: DODAĆ SPRAWDZANIE ROZMIARU PLIKU PRZED JEGO UDOSTĘPNIENIEM POPROS TOSKE-->

                        <label><input type="file" name="file" id="file" multiple accept=".jpg, .png" size="1024"
                        ></label>
                    </div>
                    <div class="action">
                        <a><input class="btn btn-primary signup" type="submit" value="Dodaj plik"/></a>
                    </div>
                    <div class="action">
                        <a href="/admin" class="btn btn-primary signup" role="button">Wstecz</a>
                    </div>

                </div>
            </form>

            <section class="images-wrapper">
                <h3>Pliki dodane do projektu:</h3>

                <div th:each="file,iter : ${files}" class="images-wrapper__item images-wrapper__item--small">
                    <img th:href="${file}" th:src="${file}" th:alt="${file}" class="images-wrapper__img"
                         href="/admin/projectForm/fileupload/toImage/file">


                    <div class="form-group" id="buton_group">
                        <div class="radio">
                            <!--th:checked="${selected_index.selectedIndex == 666}"-->
                                <label>
                                    <input type="radio" name="profile" th:value="${radios[iter.index]}" id="${radios[iter.index]}" onchange="${selected_index.selectedIndex == 666}">Okładka projektu
                                </label>

                        </div>
                    </div>

                </div>
            </section>

            <div>
                <ul>
                    <li th:each="file : ${files}">
                        <a th:href="${file}" th:text="${file}"/>
                    </li>
                </ul>
            </div>

            <div class="form-group">
                <form action="#" th:action="@{/admin/projectForm/fileupload/end}"  th:object="${selected_index}" method="post">
                    <a><input class="btn btn-primary signup" type="submit" value="Zakończ"/></a>
                </form>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script th:src="@{login/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{login/js/custom.js}"></script>
</div>
</body>
</html>