:root {
    --shadow-block-bg: rgba(102, 102, 102, 0.47);
    --banner-quote-text-color: $primary-color;
    --header-bg: $primary-color;
    --header-bg-transp: rgba(255,255,255,0.9);
    --lighter-bg: $primary-color;
    --project-item-title-color: $primary-color;
    --projects-text-bg-color: #E9E9E9;
    --material-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --offer-item-bg: $primary-dark-color;
    --offer-item-active: #BBCACA;
    --offer-item-border-color: $accent-color;
    --copyright-text-color: #93CEBB;
    --switch-btn-color: $primary-text-color;
    --switch-btn-hover-color: $primary-color;
    --switch-btn-size: 3em;
    --close-btn-color: $primary-text-color;
    --section-color-light: $primary-color; 
}

.switch-block-btn__hide {
  display: none;
}


.header {
    width: 100%;
    display: block;
    background-color: var(--header-bg);
    overflow: hidden;
}

.header__banner {
    position: relative;
    width: 500%;
    margin: 0;
    top: 0;
    text-alight: left;
    font-size: 0;
    animation: 10s slider  infinite;
}


/*-------SLIDER-------*/
@keyframes slidy {
0%, 20% { left: 0%; }
35%, 50% { left: -100%; }
70%, 100% { left: -200%; }
//80%, 100% { left: -200%; }
} 

.slider {
  overflow: hidden;
}

@for $i from 1 through 3 {
    .slider__img:nth-of-type(#{$i}) {
        width: 33.333%;
        float: left;
        position: relative;
        background: url(../img/bg#{$i}.jpg) center center no-repeat;
        background-size: cover;
        height: 100vh;
    }
}

.slider__container {
  position: relative;
  width: 300%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy ease infinite;
}


/*-----SLIDER SCROLL BUTTON-------*/
.slider__scroll-btn {
  position: absolute;
  display: block;
  border: none;
  background: none;
  border: 2px solid $primary-color;
  cursor: pointer;
  width: 35px;
  height: 55px;
  right: 0; left: 0;
  margin: 2px auto;
  font-size: 20px;
  border-radius: 25px;
  z-index: 10;
  color: $primary-color;
  bottom: 1em;
  outline: none;
}

.btn__dot {
  display: block;
  margin: 10px auto;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $primary-color;
}

.slider__scroll-btn:hover{
  border-color: $primary-text-color;
  transition: all 1s;
}
/*-----SLIDER SCROLL BUTTON-------*/


.slide:first-child {
  top: 0;
  z-index: 2;
}



.slider__text {
  position: absolute;
  width: 100%;
  z-index: 2;
  left: 20%;
  right: 0;
  top: 30%;
  bottom: 0;
  display: block;
  max-width: 600px;
  height: auto;
  color: var(--banner-quote-text-color);
  transition: background 0.5s;
  @include breakpoint(s) {
    left: 6%;
    right: 0;
  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: all .5s ease-out;
  background-color: var(--header-bg-transp);
}

.slider__text-img {
  position: absolute;
  z-index: 2;

}

.slider__quote {
    position: absolute;
    z-index: 2;
    left: 20%;
    right: 0;
    top: 30%;
    bottom: 0;
    display: block;
    max-width: 600px;
    height: auto;
    color: var(--banner-quote-text-color);
}

.slider__quote-text {
    display: block;
    width: 100%;
    @include breakpoint(xs) {
      width: 80%;
    }
}


.slider__quote-author {
    text-align: right;
    margin: 10px 100px 0 0;
}


/*-----------------Layout-----------------------*/

.wrapper{
    position: relative;
    display: block;
    width: 100vw;
}

.wrapper--colored {
    background-color: var(--lighter-bg);
}


.container {
    @extend %container;
    padding: 70px 0px;
    @include breakpoint(xs) {
      padding: 70px 0;
    }
    /*(min-width: 768px) and (max-width: 991px)*/
    @include breakpoint(sm) {
      padding: 70px 10px;
    }
    /* (max-width: 1024px) */
    @include breakpoint(m) {
      padding: 70px 50px;
    }
    /* (min-width: 1025px) and (max-width: 1199px) */
    @include breakpoint(l) {
      padding: 70px 100px;
    }

    @include breakpoint(lg) {
      padding: 70px 200px;
    }
}

.container--m {
  padding: 70px 0;
  max-width: 899px;
  @include breakpoint(sm) {
    padding: 70px 30px;
  }
}

.container__data {
  position: relative;
  /*min-height: 2500px;*/
}

.container__caption {
    position: relative;
    margin: 1em 0;
    z-index: 2;
    @include breakpoint(xs) {
      margin: 1em;
    }
}

.container__img {
  position: absolute;
  display: block;
  width: 300px;
  height: auto;
  right: -21%;
  top: -7em;
  @include breakpoint(s) {
    display: none;
  }
}

.container__img--logo {
  right: 14em;
  top: 7em;
  width: 260px;
  height: auto;
}

.container__img--single {
  right: 3em;
  top: 0em;
}


/*-----------------ABOUT BLOCK-----------------------*/
.about {
    min-height: 250px;
    background: $about-graphics 180px 0px no-repeat;
    background-size: cover;
    background-color: $primary-color;
}

.about__text {
    color: $secondary-dark-text-color;
    max-width: 1024px;
    min-width: 320px;
    width: 100%;
    text-align: justify;
    margin-top: 3em;
}

.about__logos {
    width: 100%;
    max-width: 899px;
    margin: 1em 0;
    @extend %row;
    justify-content: flex-start;
    align-items: center;
}

.about__logo-wrapper {
    width: 30%;
    margin-right: 1em;
}

.about__logo {
    width: 100%;
}


/*----------Projects section-------------*/
.projects {
  /*min-height: 2500px;*/
}





/*-------------lanscape planning ---------------*/
.planning {
    background-color: var(--lighter-bg);
}




/*------PROJECT TEXT BACKGROUND --------*/

.wrapper__text-bg {
    position: absolute;
    color: var(--projects-text-bg-color);
    transform: rotate(180deg);
    display: none;
    @include breakpoint(lg) {
      display: block;
    }
}

.wrapper__text-bg--fixed {
    position: fixed;
}

.wrapper__text-bg--areas {
    @include textBackground(0, -1.1em, -100px);
}

.wrapper__text-bg--landscape {
    @include textBackground(0, -1.88em, -100px);
}

.wrapper__text-bg--education {
  @include  textBackground(0, -1.87em, -100px);
}

.wrapper__text-bg--single {
  @include  textBackground(0, 0, 1.5em);
}

.images-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.images-wrapper__item {
    position: relative;
    display: flex;
    margin: 9px 0;
    height: 310px;
    &:nth-of-type(3n) {
      @include breakpoint(sm) {
        margin-right: 0;
        margin-top: 13px;
        margin-bottom: 13px;
      }
    }
}

.images-wrapper__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images__project-link {
  @include  breakpoint(xs) {
    width: 100%;
  }
}

.images-wrapper__description {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 40%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--project-item-title-color);
    text-align: center;
    opacity: 0;    
    padding: 0 1%;
    box-sizing: border-box;
    transition: all 0.5s;
}

.images-wrapper__title--small {
    padding: 0 2em;
}

.images-wrapper__item-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $accent-color;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.images-wrapper__item:hover{
    .images-wrapper__description {
        opacity: 1;
        transform: translateY(-40%);
    }
    .images-wrapper__item-shadow {
        opacity: .6;
    }
}

.images-wrapper__item--large {
    width: 64%;
    margin-right: 2%;
    min-width: 400px;
    @include breakpoint(sm){
      min-width: 197px;
      width: 31%;
      margin-right: 3%;
    }
}

.images-wrapper__item--small {
    width: 31%;
    margin-right: 2%;
    min-width: 250px;
    @include breakpoint(sm) {
      min-width: 197px;
      margin-right: 3%;
    }
}





/*-------------------EDUCATION---------------------------*/
.education-text-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.education-text-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 47%;
}

.education__text-block {
    width: 100%;
    min-width: 320px;
    margin-top: 2em;
}

.education__number  {
    display: inline-block;
    padding: 20px;
    text-align: center;
    width: 60px;
    height: 60px;
    margin-right: 1em;
    background: $primary-color;
    box-shadow: var(--material-shadow);
    box-sizing: border-box;
}

.education__text-content {
    display: inline-block;
    width: 80%;
    vertical-align: top;
    @include breakpoint(s) {
      width: 76%;
    }
}

.education__content-block {
  position: relative;
  width: 100%;
}





/*----------------OFFER BLOCK------------------*/
.offer {
    @include bgImage($offerBg, contain, center 0);
    min-height: 1065px;
    background-color: var(--section-color-light); 
}

.offer__options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.offer__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background: var(--offer-item-bg);
  border-radius: 50%;
  position: relative;
  margin: 40px;
  cursor: pointer;
  @include breakpoint(xs) {
    width: 100px;
    height: 100px;
    margin: 40px 0;
  }
  @include breakpoint(s) {
    width: 130px;
    height: 130px;
    margin: 40px 0;
  }
}

.offer__item::after, .spinner::before{
    content: '';
    display: block;
    width: 170px;
    height: 170px;
    border-radius: 50%;  position: absolute;
    top: -12px;
    left: -12px;
    @include breakpoint(xs) {
      width: 120px;
      height: 120px;
    }
    @include breakpoint(s) {
      width: 150px;
      height: 150px;
    }
}

.offer__item--active::after {
  position: absolute;
  top: -12px;
  left: -12px;
  border: 2px solid transparent;
  border-top-color: var(--offer-item-border-color);
  border-bottom-color: var(--offer-item-border-color);
  transform: rotate(45deg);
  animation: spinny 1s ease-in 1;
}

@keyframes spinny {
  0% {
    transform: rotate(45deg) scale(1);
  }
  50% {
    transform: rotate(90deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }

}

/*--offer-item icon background--*/
@for $i from 1 through 3 {
    .offer__item:nth-of-type(#{$i}) {
        .offer__item-icon-#{$i} {
            background-image:  url(../img/offer-#{$i}.png);
            width: 100px;
            height: 80px;
            margin: 0 auto;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            @include breakpoint(xs) {
              width: 80%;
              height: 42px;
              background-size: contain;
            }
          }
    }
}

.offer__item--active {
    background-color: var(--offer-item-active);
}

.offer__item-title {
    display: inline-block;
    width: 70%;
    max-width: 150px;
    text-align: center;
    margin: 0 auto;
}

.offer__description {
    display: block;
    box-sizing: border-box;
    padding: 4% 4% 8%;
    background-color: var(--offer-item-bg);
    color: $secondary-dark-text-color;
}

.offer__description-img {
  width: 50px;
  margin-right: 1em;
  float: left;
}

.hidden {
  display: none;
}

.offer__description-title {
    color: $primary-dark-text-color;
}

.offer__article {
    color: $secondary-dark-text-color;
    @include breakpoint(xs) {
      padding: 7% 3%;
    }
}






/*----------------CONTACT BLOCK------------------*/

.contact__block {
    max-width: 290px;
    display: inline-block;
    margin: 1em 1em 1em 0;
    color: $secondary-dark-text-color;
    @include breakpoint(md) {
      width: 25%;
    }
}

.contact__block-title {
    color: $primary-dark-text-color;
}

.contact__block-link {
    color: $secondary-dark-text-color;
}





/*--------------------FOOTER-----------------------*/

.footer {
    height: 93px;
    background-color: $accent-color;
}

.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    height: 100%;
}

.footer__logo {
    display: inline-block;
    width: 135px;
    height: 43px;
    background: $footerLogo center center no-repeat;
    background-size: cover;
}

.footer__copyright {
    color: var(--copyright-text-color);
}


/*----------------SINGLE PROJECT--------------------------------*/
.close-btn {
  width: 3em;
  height: 3em;
  position: fixed;
  top: 9em;
  right: 5%;
  background: transparent;
  border: none;
  transform-origin: center;
  transition: all 0.2s ease-in-out;
  transform: rotate(45deg);
  cursor: pointer;
  outline: none;
}

.close-btn:hover {
  transform: scale(0.5) rotate(45deg);
  .close-btn__cross::after {
    opacity: 1;
    transform: scale(1.5);
  }
}

.close-btn__cross::after {
  content: '';
  opacity: 0;
  padding: 0;
  width: 3em;
  height: 3em;
  position: absolute;
  top: -2px;
  left: -2px;
  border: 2px solid var(--close-btn-color);
  border-radius: 100%;
  transition: all 0.3s linear;
  transform: scale(0.7);
  box-sizing: content-box;

}

.close-btn::after{
  @include closeBtnPseudoEl(-1px, 1px, 100%, 0, 50%);
}

.close-btn::before {
  @include closeBtnPseudoEl(-1px, 100%, 1px, 50%, 0);
}


/*-----------back btn------------*/
.back-btn {
  width: 20em;
  height: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: 2em;
  left: 7%;
  cursor: pointer;
  @include breakpoint(lg) {
    position: fixed;
    left: 2%;
  }
  color: $primary-text-color;
}

.back-btn__text {
  display: inline;
  padding: 0 1em;
}

.projects--single {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1001;
  background-color: $primary-color;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 1300px;
}

.project__description {
  width: 30%;
  min-width: 320px;
  @include breakpoint(sm) {
    max-width: 736px;
  }
  @include breakpoint(lg) {
    max-width: 320px;
  }
}

.project__description--fixed {
  @include breakpoint(lg) {
    position: fixed;
    top: 15%;
  }
}

.project__description-text {
    display: block;
    margin: 1em 0;
}

.project__grafics {
  max-width: 650px;
  width: 100%;
  @include breakpoint(lg) {
    position: absolute;
    right: 5em;
    width: 43%;
    padding: 68px 4% 1%;
  }
}

.project__grafics--scrolled {
  position: absolute;
  right: 8%;
}

.project__img {
    width: 100%;
    margin-bottom: 1em;
}

.project {
    padding: 70px 100px;
}

.project__number{
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $primary-dark-text-color;
    background: transaprent;
    color: $primary-dark-text-color;
    width: 3em;
    height: 3em;
    padding: 2em;
    margin: 2em 0;
    box-sizing: border-box;
}

.switch-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5em;
}

.switch-block__btn {
    display: flex;
    position: relative;
    z-index: 0;
    justify-content: center;
    align-items: center;
    @include size(var(--switch-btn-size));
    background: transparent;
    border: 2px solid var(--switch-btn-color);
    color: var(--switch-btn-color);
    transition: background .5s ease-out, color .5s ease-out;
}

.switch-block__btn:hover > .fa-angle-left {
  color: var(--switch-btn-hover-color);
}

.switch-block__btn:hover > .fa-angle-right {
  color: var(--switch-btn-hover-color);
}

.fa-angle-left {
  position: absolute;
  z-index: 3;
}

.fa-angle-right {
  position: absolute;
  z-index: 3;
}

.switch-block__btn::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  width: 0;
  left: 0;
  height: 100%;
  background: var(--switch-btn-color);
  color: var(--switch-btn-hover-color);
  transition: all .1s ease-out;
}

.switch-block__btn:hover::after {
  width: 100%;
}


/*----------------SHADOW BLOCKS--------------------------------*/

.shadow-block {
    background-color: var(--shadow-block-bg);
    width: 10%;
    max-width: 200px;
    display: none;
    height: 100vh;
    position: fixed;
    z-index: 10000;
    top: 0;
    bottom: 0;
    opacity: .5;
}

.shadow-block--left {
  left: 0;
}

.shadow-block--right {
    right: 0;
}
