:root {
    --nav-block-bg: $primary-color;
    --nav-block-transp: rgba(255,255,255,0.9);
    --nav-link-color: $primary-text-color;
    --nav-link-active-color: $accent-color;
    --secondary-nav-color: $secondary-text-color;
    --link-active-color: $accent-color;
    --filter-btn-bg: $body-bg-color;
    --filter-block-border-color: #E5E5E5;
}




/*---------nav block main styling--------*/
.nav-block {
    @extend %container;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    height: 80px;
    max-height: auto;
    background-color: var(--nav-block-bg);
    @include breakpoint(s) {
      display: none;
    }
    padding: 0 1%;
}

.nav-block--transp {
  background-color: var(--nav-bg-transp);
}



/*-------STICKY_NAV ON SCROLL----------*/
.nav-block--sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}




/*--------LOGO styling----------*/
.logo {
    display: inline-block;
    width: 180px;
    height: 100%;
    background: $logo-img center center no-repeat;
    background-size: contain;
}

/*------------NAVIGATION MENU STYLES----------------*/
.nav {
    min-width: 200px;
    width: 80%;
    height: 100%;
    display: inline-block;
}


.primary-nav {
    @extend %nav-block;
	list-style:none;
	position:relative;
    width: 100%;
    height: 100%;
}



.secondary-nav {
    position: absolute;
    @extend %nav-block;
    height: 77%;
    top: 3.2em;
    right: 3em;
    padding: 0;
    margin-left: 2em;
}

.secondary-nav__item {
    height: 100%;
}

/*------------nav link styling----------------*/
.primary-nav__link {
    @extend %link;
    color: var(--nav-link-color);
    transition: color .4s ease;
}




/*------------subnav link styling----------------*/
.secondary-nav__link {
    height: 67%;
    margin: 0 1em;
    padding: 0 0 2em;
    display: flex;
    align-items: flex-end;
    //min-width: 250px;
    color: var(--secondary-nav-color);
    text-transform: uppercase;
    transition: color .4s ease-out;
    box-sizing: border-box;
}





/*------------active state nav link styling----------------*/

.primary-nav__link--active {
    height: 80px;
    color: var(--link-active-color);
    border-bottom: 3px solid var(--link-active-color);
}
.secondary-nav__link--active {
    color: var(--link-active-color);
}



// OPTIMIZE: link hover
/*--------------LINKS HOVER STATE(RECONSIDER!!!)-----------------------*/
.primary-nav__link:hover,
.secondary-nav__link:hover{
    color: var(--link-active-color);
}



.nav-block--mob {
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  padding: 20% 0;
  display: none;
  /*opacity: 0;*/
  @include breakpoint(s) {
    /*display: flex;*/
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  width: 100vw;
  height: 30vh;
  background: $primary-color;
  transition: opacity 1s ease;
}

.nav-block--open {
  display: flex;
  opacity: 0.8;
  transition: display 1s ease;
}



.nav-block--mob__item {
  display: block;
  margin: 0 0 2em;
  text-align: center;
  color: $primary-text-color;
}

.nav__btn {
  display: none;
  height: 3em;
  position: absolute;
  z-index: 100001;
  right: 5%;
  top: 2em;
  background: rgba(20, 71, 71, 0.23137254901960785);
  border-radius: 5px;
  transition: background .7s ease-in;
  @include breakpoint(s) {
    display: flex;
  }
  justify-content: center;
  align-items: center;
  color: $primary-color;
  width: 100px;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    background: rgba(20, 71, 71, 0.66);
  }
}


// .hamburger {
//   height: 30px;
// width: 30px;
// position: absolute;
// right: 20px;
// top: 34px;
// z-index: 9020;
// }
//
// .hamburger-lines-item {
//   background-color: $accent-color;
//     border-radius: 1px;
//     height: 2px;
//     width: 100%;
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     margin: -1px 0 0 -15px;
//     transition: height 100ms;
// }
//
// .hamburger-lines-item::before {
//   bottom: -7px;
// }
//
// .hamburger-lines-item::after {
//   top: -7px;
// }
//
//
// .hamburger-lines-item::before,
// .hamburger-lines-item::after {
//   content: '';
//   background-color: $accent-color;
//   border-radius: 1px;
//   height: 2px;
//   width: 100%;
//   position: absolute;
//   left: 50%;
//   margin-left: -15px;
//   transition: all 200ms;
// }

// .hamburger::before {
//   content: ''
//   width: 5em;
//   height: 5em;
//   border-top: 2px solid black;
//   border-bottom: 2px solid black;
// }
//
// .hamburger__item {
//   width: 100%;
//   height: 2;
//   background: black;
// }


/*----------------------PROJECTS NAVIGATION--------------------------------*/


.projects-filter-wrapper {
    display: block;
    height: 5em;
    width: 100%;
    margin: 3em 0 0;
}


.projects-filter {
    @extend %row;
}

.projects-filter__item {
    display: block;
    margin: 0 1em;
}


.projects-filter--primary {
    width: 60%;
    margin: 0 auto;
    border-bottom: 1px solid var(--filter-block-border-color);
    @include breakpoint(xs) {
      width: 80%;
    }
}


.projects-filter--secondary {
    display: none;
    position: absolute;
    margin: 6px auto;
    left: 0;
    right: 7em;
}

.projects-filter__btn {
    @include filterBtn(var(--nav-link-color),var(--filter-btn-bg));
}

.projects-filter__btn:hover {
  color: $accent-color;
  font-weight: 700;
}

.projects-filter__btn--active {
    color: $accent-color;
    border-bottom: 3px solid $accent-color;
}


.projects-filter__sub-btn {
    position: relative;
    @include filterBtn(var(--secondary-nav-color),var(--filter-btn-bg));
}

.projects-filter__sub-btn:hover {
  color: var(--nav-link-color);
}

.projects-filter__sub-btn--active {
    color: var(--nav-link-color);
}

.filter--hidden {
  display: none;
}
